@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">tiket_id</th>
            <th scope="col">user_nama</th>
            <th scope="col">user_age</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @{
            var data = (List<UserModel>)ViewData["data"]!;
            foreach (var user in data)
            {
                <tr>
                    <th scope="row">@user.tiket_id</th>
                    <td>@user.user_nama</td>
                    <td>
                        @Html.ActionLink("Ubah", "Edit", new { Id = @user.tiket_id, Username = @user.user_nama }, new { @class = "btn btn-success" })
                    </td>
                    <td>
                        @Html.ActionLink("Hapus", "DeleteUser", new { Id = @user.tiket_id }, new { @class = "btn btn-danger", onclick = "return confirm('Apakah anda yakin ingin menghapus user ini?')" })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>